{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
{% endblock %}

{% block body %}
    <section class="container body-box">
        <div class="row">
            <div class="col-sm-12">
                <div class="card home-card">
                    <img class="card-img-top card-img-display" src="{{ asset('img/todolist_homepage.jpg') }}"
                         alt="todo list">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a href="{{ path('task_create') }}" class="btn btn-primary">
                    Créer une tâche</a>
                <a href="{{ path('todo_task_list') }}" class="btn btn-warning">
                    Consulter la liste des tâches à faire</a>
                <a href="{{ path('finish_task_list') }}" class="btn btn-success">
                    Consulter la liste des tâches terminées</a>
                <a href="{{ path('user_list') }}" class="btn btn-info">
                    Consulter la liste des utilisateurs</a>
            </div>
        </div>
    </section>
{% endblock %}
